@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

@tailwind components;

@tailwind utilities;

ul.dropdown {
  li {
    transition-duration: 0.5s;
    line-height: 60px;
  }

  li:hover {
    cursor: pointer;
  }

  li ul {
    @apply .py-5;
    @apply .bg-white;
    @apply .rounded;
    @apply .shadow;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
  }

  li:hover > ul,
  li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  li ul li {
    clear: both;
    width: 100%;
    line-height: 18px;
    @apply .py-2;
    @apply .px-5;
  }
}
